.serviceCard {
  @apply transition-colors duration-500 min-w-[350px] w-[23.428vw] min-h-[350px] max-sm:w-[100%] h-[43.3vh] p-[0.059vw];
  background-color: $stroke;

  @media (max-width: 640px)  {
    border: 1px solid #595A5A;
  }

  &:hover {
    background-color: $blue;

    .serviceCardIcon {
      @apply opacity-100;
    }

    .serviceCardContent {
      background-color: $blue;
    }
  }

  .clip {
    @apply opacity-0 z-[-1] pointer-events-none absolute;
  }

  &Content {
    @apply w-full h-full p-[clamp(16px,1.779vw,32px)] flex flex-col justify-between items-start relative transition-colors duration-500;

    background-color: $dark;
  }

  &Info {
    @apply flex flex-col items-start;
  }

  &Title {
    @apply text-[clamp(20px,1.423vw,24px)] font-medium;
    line-height: 145%;
  }

  &Category {
    @apply text-[clamp(12px,0.830vw,14px)] font-medium mt-[2.16vh] mb-[1.3vh] uppercase;
    line-height: 145%;
  }

  &Text {
    @apply text-[clamp(16px,0.949vw,14px)];
    line-height: 131%;
  }

  &Icon {
    @apply w-[clamp(110px,8vw,130px)] h-[clamp(110px,8vw,130px)] absolute bottom-[clamp(16px,1.483vw,32px)] right-[clamp(16px,1.483vw,32px)] opacity-50 transition-opacity duration-500;

    img {
      @apply w-full h-full object-contain object-center;
    }
  }

  &Link {
    @apply text-[12px] font-medium uppercase flex items-center gap-[0.474vw];
    line-height: 116.6%;
  }
}
