body {
  font-family: $chakra;
  font-weight: 400;
  font-size: 0.949vw;
  color: #fff;

  background-color: #0d0c0f;

  &::-webkit-scrollbar {
    @apply appearance-none w-[0.356vw];
  }

  &::-webkit-scrollbar-thumb {
    @apply w-[0.356vw] rounded-[0.178vw];
    background-color: $blue;
  }

  &.freezed {
    overflow: hidden !important;
  }
}

.section-label-figure {
  @apply flex items-center justify-center w-full relative text-[1.186vw] uppercase py-[0.9vh];
  line-height: 145%;

  .figure {
    @apply absolute top-0 left-0 w-full h-full pointer-events-none z-[-1];
  }
}

.clip {
  @apply w-0 h-0 absolute opacity-0 pointer-events-none z-[-1];
}

.link-arrow {
  @apply w-[clamp(11px,0.630vw,13px)] h-[clamp(17px,1.7vh,20px)];

  &::before {
    content: '';

    @apply w-full h-full block bg-center bg-contain bg-no-repeat;

    background-image: url('/images/icons/link-arrow.svg');
  }
}

.card-number {
  @apply text-[16px] relative w-fit font-medium;

  &::before {
    content: '';

    @apply absolute top-0 left-0 w-[175%] translate-y-[-30%] h-[75%] bg-center bg-no-repeat bg-cover z-[-1] pointer-events-none;

    background-image: url('/images/ComponentBackgrounds/card-number-bg.svg');
  }
}

.top-shadow {
  @apply block absolute left-1/2 top-0 max-w-[100vw] h-[100vh] w-full z-[6] pointer-events-none;

  transform: translate(-50%, 0) !important;

  background-image: url('/images/Home/top-gradient.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.triangle {
  @apply w-0 h-0 rotate-[-45deg] inline-block translate-y-[-100%] mr-[40px] mb-[4px];
  border-left: clamp(5px, 0.474vw, 7px) solid transparent;
  border-right: clamp(5px, 0.474vw, 7px) solid transparent;
  border-bottom: clamp(5px, 0.474vw, 7px) solid #d9d9d9;
}

.rounded-stroke {
  @apply rounded-[0.297vw];
  border: 0.059vw solid $stroke;
}

.bordered-clip-block {
  @apply p-[0.059vw];
  background-color: $stroke;
}

.section-text-group {
  @apply pt-[8vh] flex items-start justify-between;
}

.section-title-block {
  @apply flex flex-col items-start relative;
}

.section-text-block {
  @apply flex flex-col gap-[4.3vh];

  p {
    @apply text-[16px];

    color: $light-gray;

    > .reveal {
      @apply opacity-0 translate-y-[50%];

      > .reveal {
        @apply opacity-0 translate-y-[50%];
      }
    }
  }
}

.section-label {
  @apply text-[14px] uppercase absolute top-[-1.73vh] left-0 translate-y-[-100%] whitespace-nowrap;
  line-height: 145%;
}

.section-head {
  @apply relative flex items-center justify-between overflow-hidden py-[1.5vh] px-[0.593vw];

  &-icon {
    @apply w-[clamp(16px,1.72vw,26px)] h-[clamp(16px,1.72vw,26px)];

    img {
      @apply w-full h-full object-contain object-center;
    }
  }

  span {
    @apply text-[clamp(14px,0.949vw,16px)];
  }

  .line {
    @apply absolute top-0 left-0 w-full h-[clamp(6px,0.593vw,10px)] rounded-[0.297vw] z-[0];

    border: 0.1vw solid #fff;
    border-bottom: none;

    &::before {
      content: '';

      @apply h-full w-[110%] block absolute bottom-0 translate-y-[50%] left-1/2 translate-x-[-50%] right-0 z-[1];
      background-color: $dark;
    }
  }
}

section {
  @apply h-screen bg-center bg-no-repeat relative overflow-hidden;

  background-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply uppercase;
  line-height: 100%;
  font-weight: 500 !important;
}

h1 {
  font-size: clamp(48px, 5.931vw, 100px) !important;
  line-height: 90%;
}

h2 {
  font-size: clamp(48px, 5.338vw, 90px) !important;
}

h3 {
  font-size: clamp(28px,3.796vw,64px) !important;
}

h4 {
  font-size: clamp(24px, 2.847vw, 50px) !important;
}

h5 {
  font-size: clamp(24px,1.898vw,32px) !important;
}

h6 {
}

big {
}

.features-grid {
  @apply grid mt-[12vh];

  &.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  &.small {
    grid-template-rows: repeat(1, 36vh);
    grid-auto-rows: 36vh;
  }

  column-gap: 1.186vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 50vh);
  grid-auto-rows: 50vh;
}

.section-span {
}

.container {
  @apply w-full h-full px-[3.559vw] relative;

  max-width: 100% !important;

  &.space-top {
    @apply pt-[clamp(36px,5.931vw,100px)];
  }

  &.space-bottom {
    @apply pb-[clamp(36px,5.931vw,100px)];
  }
}

.fp-overflow {
  height: 100% !important;
  width: 100% !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden-letter {
  opacity: 0;
  pointer-events: none;
}

.reveal {
}

.fp-watermark {
  display: none;
}
