// fonts
$area: 'Area Inktrap';
$atyp: 'Atyp Display';
$questrial: 'Questrial', sans-serif;
$chakra: 'Chakra Petch', sans-serif;

// colors
$gold: #d4a455;
$light-gray: #a8a8a8;
$gray: #626262;
$stroke: #595a5a;
$dark: #0d0c0f;
$blue: #4500df;

// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1140px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;
