.footer {
  @apply h-fit py-[5.4vh] px-[3.559vw];

  &Main {
    @apply w-full flex max-md:flex-col items-start justify-between relative;
  }

  &Bottom {
    @apply pt-[6vh] flex items-center justify-between gap-[3.262vw] max-md:hidden;

    span {
      @apply text-[clamp(14px,0.830vw,16px)] capitalize;
      line-height: 150%;
    }

    &Row {
      @apply flex items-center flex-1 gap-[1.186vw];

      &Line {
        @apply flex-1 h-[0.1vh] bg-white;
      }
    }
  }

  &Content {
    @apply w-full h-full pt-[8.6vh] pb-[3.25vh] px-[2.372vw] relative flex flex-col items-stretch max-md:p-0;
    background-image: url('/images/footer_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (max-width: 768px)  {
      background-image: url('/images/footer_mobile_bg.png');
    }

    &Bg {
      @apply absolute w-full h-full top-0 left-0 pointer-events-none z-[-1];

      svg {
        @apply w-full h-full;
      }
    }
  }

  &Body {
    @apply flex max-md:flex-col max-md:w-full;
  }

  &Column {
    @apply pl-[1.186vw] pr-[1.423vw] max-md:w-full max-md:p-[12px];

    &:not(:last-child) {
      @apply max-md:border-[1px] max-md:border-[#595A5A];
    }
  }

  &List {
    @apply flex flex-col items-start gap-[1.7vh] max-md:w-full max-md:items-center;

    &Title {
      @apply text-[clamp(16px,0.949vw,18px)] uppercase max-md:text-center;
      line-height: 145%;
    }

    ul {
      @apply flex flex-col items-start gap-[1.5vh] max-md:items-center;
    }

    &Item {
      @apply max-md:text-center;

      a {
        @apply text-[clamp(14px,0.949vw,18px)] normal-case first-letter:capitalize flex items-center gap-[0.237vw] max-md:text-center;

        svg {
          @apply min-w-[32px] w-[32px] h-[24px];
        }

        color: $light-gray;
        line-height: 100%;
      }
    }
  }

  &Logo {
    @apply max-md:hidden min-w-[4vw] h-[10.8vh] mr-[16px];
  }

  &LogoWrapper {
    @apply md:hidden flex items-center justify-center w-full p-[24px];

    @media (max-width: 768px)  {
      border-bottom: 1px solid #595A5A;
    }

    .logo {
      @apply md:hidden w-[104px] h-[27px];
    }
  }
}
