.testimonialCard {
  @apply h-full w-full;

  &Bg {
    @apply w-full h-full absolute pointer-events-none top-0 left-0 z-[-1];

    svg {
      @apply w-full h-full;
    }
  }

  &Content {
    @apply px-[clamp(16px,2.372vw,32px)] pt-[5.75vh] pb-[4.3vh] w-full h-full flex flex-col justify-between max-md:gap-[40px];
  }

  &Head {
    @apply flex items-center justify-between;

    .logo {
      @apply w-[158px] h-[22px] object-contain object-left;
    }
  }

  &Link {
    @apply flex items-center gap-[0.474vw] uppercase text-[12px] max-md:hidden;
  }

  &LinkMobile {
    @apply flex items-center gap-[0.474vw] uppercase text-[12px] md:hidden;
  }

  &Text {
    @apply text-[clamp(16px,1.186vw,20px)] normal-case;
    line-height: 145%;
    color: $light-gray;
  }

  &Author {
    @apply flex items-center gap-[0.593vw];

    &Position {
      @apply text-[12px] font-medium;
      color: $light-gray;
      line-height: 116%;
    }

    &Name {
      @apply text-[14px] font-medium uppercase;
      line-height: 145%;
    }

    &Photo {
      @apply w-[2.966vw] min-w-[50px] h-[2.966vw] min-h-[50px];

      clip-path: url(#testimonial-photo-clip);

      img {
        @apply w-full h-full object-cover object-center;
      }
    }

    &Info {
      @apply flex flex-col gap-[0.4vh];
    }
  }
}
