.testimonials {
  @apply h-fit;

  div[class='section-text-group'] {
    @apply max-md:flex-col;
  }

  &TextBlock {
    @apply max-w-[28.470vw] max-md:max-w-full w-full max-md:mt-[40px];
  }

  &Cards {
    @apply w-full mt-[16.25vh] pb-[5.4vh];

    div[class*='swiper-scrollbar-horizontal'] {
      @apply mx-auto max-w-[93vw] rounded-[1vw];

      background-color: $gray;
      height: 0.325vh !important;
    }

    div[class*='swiper-scrollbar-drag'] {
      @apply mt-[6vh] bg-white rounded-[1vw];

      height: 0.45vh !important;
    }

    div[class*='swiper-horizontal'] {
      @apply w-full h-full px-[3.559vw];
    }

    div[class*='swiper-wrapper'] {
      @apply h-[50vh] max-md:h-min;
      overflow: unset !important;
    }
  }

  .codeContainer {
    @apply flex flex-col w-full items-center justify-center gap-[clamp(16px,2.017vw,34px)] h-[clamp(300px,53.381vw,900px)];
    background-image: url('/images/Home/Testimonials/code.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .title {
      @apply text-[clamp(28px,4.033vw,68px)] text-center uppercase;
    }

    button {
      @apply h-[40px] w-[200px];
    }
  }
}
