.platform {
  @apply h-fit;

  div[class='section-text-group'] {
    @apply max-md:flex-col;
  }

  div[class='section-text-block'] {
    @apply max-w-[30vw] max-md:max-w-[100%] max-md:mt-[30px] w-full;
  }

  &Image {
    @apply w-full h-[67vh] max-md:max-h-[350px] mt-[15.5vh] max-md:mt-[50px] overflow-hidden relative;

    clip-path: polygon(40px 0, calc(100% - 40px) 0, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0 calc(100% - 40px), 0 40px);
    overflow: hidden;

    @media (max-width: 640px)  {
      clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px), 0 25px);
    }

    img {
      @apply w-full h-full object-cover object-center;
    }
  }
}
