.documentation {
  @apply h-min;

  div[class='section-head'] span {
    @apply text-[clamp(14px,0.949vw,16px)];
  }

  &Wrapper {
    @apply flex items-stretch gap-[3.559vw] max-lg:flex-col pt-[6vh];

    > div {
      @apply flex-1;
    }

    .image {
      @apply max-sm:hidden rounded-[1.068vw] h-full overflow-hidden;

      border: 0.059vw solid $stroke;

      img {
        @apply w-full h-full object-cover object-center;
      }
    }

    .block {
      @apply flex flex-col justify-between gap-[clamp(40px,7.117vw,120px)];

      .group {
        @apply flex flex-col gap-[4vh];

        div[class='section-text-block'] {
          @apply max-w-[26.690vw] w-full max-lg:max-w-[100%];
        }
      }

      .links {
        @apply w-full grid grid-cols-2 auto-rows-[clamp(50px,4.152vw,70px)] max-md:grid-cols-1;

        .link {
          @apply text-[14px] flex items-center justify-center uppercase relative;

          &:last-child {
            @apply max-md:hidden;
          }

          &:not(:last-child) svg:first-child {
            @apply max-md:hidden;
          }

          &:not(:last-child) svg:last-child {
            @apply md:hidden;
          }

          &:hover {
            svg {
              path:nth-child(2) {
                fill: $blue !important;
              }

              rect {
                stroke: $blue !important;
              }
            }
          }

          svg {
            @apply w-full h-full absolute top-0 left-0 z-[-1] pointer-events-none;

            path:nth-child(2) {
              @apply transition-colors duration-[450ms];
            }
          }

          line-height: 145%;
        }
      }
    }
  }
}
