.blogArticles {
  @apply flex flex-col items-center justify-center gap-[6.5vh];

  &Head {
    @apply w-full flex items-center justify-between;
  }

  &Filter {
    @apply flex items-center w-[100%] sm:w-max;

    .blogArticlesActionTab {
      @apply w-[100%] sm:w-max;
    }

    div:not(:first-child) {
      @apply hidden sm:flex;
    }
  }

  &Sort {
    @apply w-[100%] sm:w-max;

    .blogArticlesActionTab {
      @apply text-white;

      .typeOne {
        @apply hidden sm:flex w-[100%];
      }

      .typeTwo {
        @apply sm:hidden;
      }
    }

    svg {
      path {
        stroke: #fff;
      }
    }
  }

  &ActionTab {
    @apply h-[34px] px-[30px] flex items-center justify-center text-[14px] font-medium uppercase relative text-center transition-colors duration-500 cursor-pointer;
    line-height: 145%;

    color: #4f5050;

    &:first-child {
      @apply px-[2.5vw];
    }

    &.active {
      color: $dark;

      .blogArticlesActionTabBg {
        svg {
          path {
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }

    &Bg {
      @apply pointer-events-none z-[-1] absolute top-0 left-0 w-full h-full;

      svg {
        @apply w-full h-full;

        path {
          @apply transition-colors duration-500;
        }
      }
    }
  }

  &More {
    @apply w-[100%];

    button {
      @apply w-[100%];
    }
  }

  &Wrapper {
    @apply grid grid-cols-1 min-[480px]:grid-cols-2 md:grid-cols-3;
    width: 100%;
    grid-template-rows: repeat(1, 60vh);
    grid-auto-rows: 60vh;
    row-gap: 3.25vh;
  }
}
