.services {
  @apply h-fit;

  div[class='section-head'] {
    @apply mx-[3.559vw];
  }

  div[class='section-text-group'] {
    @apply px-[3.559vw] max-md:flex-col;
  }

  div[class*='container'] {
    @apply px-[0];
  }

  &TextBlock {
    @apply max-w-[25.741vw] max-md:max-w-full w-full max-md:mt-[40px];
  }

  &Cards {
    @apply max-sm:hidden mt-[15vh] flex items-center  overflow-hidden;

    div[class='swiper-wrapper'] {
      @apply items-center flex;
    }

    &Group {
      @apply w-fit flex flex-col gap-[1.423vw];
      display: flex !important;
      width: fit-content !important;

      &:first-child {
        margin-left: 3.559vw !important;
      }
    }
  }

  &CardsMobile {
    @apply sm:hidden mt-[15vh] flex flex-col items-center px-[3.559vw] gap-[16px];

    &GroupMobile {
      @apply w-full flex flex-col gap-[1.423vw];
      display: flex !important;
      width: 100% !important;
    }

    button {
      @apply w-[100%] h-[40px] mt-[24px];
    }
  }
}
