.menu {
  @apply fixed top-0 left-0 w-full min-h-screen max-h-screen overflow-y-scroll h-screen z-[5] px-[3.855vw] py-[12.8vh] transition-opacity duration-500 opacity-0 pointer-events-none flex items-center;

  background-color: $dark;

  &.active {
    @apply opacity-100 pointer-events-auto;
  }

  &Bg {
    @apply fixed left-0 top-0 w-full h-full pointer-events-none;

    svg {
      @apply w-full h-full;
    }
  }

  &SideNumbers {
    @apply flex flex-col justify-between z-[1] gap-[15.3vh] max-sm:gap-[11.3vh];

    span {
      @apply text-[clamp(10px,0.712vw,12px)];
    }
  }

  &Links {
    @apply h-full flex flex-col sm:gap-[40px] justify-center max-sm:justify-between gap-[4.5vh];
  }

  .additionalBlock {
    @apply sm:hidden;
  }

  &Nav {
    @apply flex flex-col gap-[3vh] items-center justify-center text-center;
  }

  &AccountOptions {
    @apply flex gap-[4.152vw] items-center justify-center max-sm:hidden mb-[24px];
  }

  &AccoutOption {
    @apply uppercase text-[14px] font-medium;
    color: $light-gray;
    line-height: 185%;
  }

  &Contact {
    @apply relative flex items-start justify-center gap-[8.304vw] z-[1];

    &Col {
      @apply flex flex-col items-start gap-[1.2vh];

      &Title {
        @apply font-medium text-[14px] uppercase;
        line-height: 185%;
        color: $light-gray;
      }

      &Link {
        @apply text-[12px] font-medium first-letter:uppercase;
        line-height: 133%;
      }
    }
  }

  &Content {
    @apply w-full h-full flex items-center justify-between text-[0.712vw];
  }
}
