.featureCard {
  @apply p-[1.779vw] w-full h-full;

  &Content {
    @apply w-full h-full flex flex-col justify-start max-sm:items-center gap-[clamp(24px,1.72vw,29px)] items-start;
  }

  &Icon {
    @apply w-[clamp(70px,5.931vw,100px)] h-[clamp(70px,5.931vw,100px)];

    img {
      @apply w-full h-full object-center object-contain;
    }
  }

  &Link {
    @apply mt-auto flex items-center gap-[0.474vw] text-[12px];
    line-height: 116.6%;
  }

  &Title {
    @apply text-[clamp(20px,1.423vw,24px)] max-sm:text-center font-medium capitalize;
    line-height: 108%;
  }

  &Text {
    @apply flex flex-col gap-[0.975vh];
    color: $light-gray;

    p {
      @apply text-[clamp(14px,0.949vw,18px)] max-sm:text-center first-letter:uppercase;
    }
  }
}
