.hero {
  @apply h-[100%];

  div[class='container'] {
    @apply flex pt-[100px] md:pt-[120px] lg:pt-[140px] xl:pt-[170px];
  }

  &Ticker {
    @apply absolute left-0 top-0 translate-y-[85%] w-full h-[70px];
  }

  &Wrapper {
    @apply w-full flex max-md:flex-col gap-[1.186vw] h-[75vh] max-md:h-min items-stretch pb-[1.3vh];
  }

  &ArticleInfo {
    @apply w-[55%] max-md:w-[100%] relative py-[5.4vh] px-[1.8vw] flex flex-col items-start;

    div[class='card-number'] {
      @apply text-[clamp(18px,1.423vw,24px)];

      &::before {
        @apply max-w-[clamp(160px,9vw,200px)] w-full h-[13px];
      }
    }

    &TextBlock {
      @apply mt-auto max-w-[476px] w-full;
    }

    &Title {
      @apply text-[clamp(20px,2.847vw,48px)] uppercase font-medium mt-[clamp(20px,1.95vh,30px)] max-md:mb-[32px];
      line-height: 116%;
    }

    &Bg {
      @apply pointer-events-none absolute left-0 top-0 w-full h-full z-[-1];

      svg {
        @apply w-full h-full;
      }
    }
  }

  &ArticlePreview {
    @apply w-[45%] max-md:h-[clamp(320px,38.197vw,644px)] max-md:w-[100%] rounded-[0.237vw] relative p-[1.779vw] overflow-hidden flex items-end justify-start;

    &Socials {
      @apply flex flex-col gap-[1vh] z-[2];
    }

    &Social {
      @apply rounded-[0.297vw] flex items-center justify-center w-[clamp(32px,3.559vw,60px)] h-[clamp(32px,3.559vw,60px)];
      background-color: $dark;
      border: 0.059vw solid $gray;

      img {
        @apply w-[clamp(16px,1.483vw,25px)] h-[clamp(16px,1.483vw,25px)] object-contain object-center;
      }
    }

    &Slider {
      @apply w-full h-full absolute left-0 top-0 z-[-1];

      position: absolute !important;

      div[class*='swiper-pagination'] {
        width: fit-content !important;
        left: auto !important;
        right: 1.779vw !important;
        bottom: 1vw !important;
        top: auto !important;
      }

      span[class*='swiper-pagination-bullet'] {
        width: clamp(8px, 0.593vw, 10px) !important;
        height: clamp(8px, 0.593vw, 10px) !important;
        background: transparent !important;
        border: 0.059vw solid #fff !important;
        box-sizing: border-box !important;
        transition: background-color 0.75s ease !important;
        opacity: 1 !important;
      }

      span[class='swiper-pagination-bullet swiper-pagination-bullet-active'] {
        width: clamp(8px, 0.593vw, 10px) !important;
        height: clamp(8px, 0.593vw, 10px) !important;
        background-color: #fff !important;
        border: 0.059vw solid #fff !important;
        box-sizing: border-box !important;
        transition: background-color 0.75s ease !important;
      }
    }

    &Thumbnail {
      @apply w-full h-full;

      img {
        @apply object-cover object-center w-full h-full;
      }
    }
  }
}
