.articleContent {
  @apply h-fit;

  div[class='container'] {
    @apply flex flex-col items-center;
    height: fit-content !important;
  }

  &Ticker {
    @apply mx-[-3.559vw] mt-[clamp(54px,5.931vw,100px)];
  }

  &Block {
    @apply ml-auto md:w-[55%];

    p {
      @apply text-[clamp(16px,1.186vw,20px)] mt-[clamp(9px,2.966vw,49px)] mb-[clamp(32px,4.745vw,80px)];
      line-height: 145%;
      color: $light-gray;
    }
  }

  &ViewAll {
    @apply flex items-center justify-center w-full;

    button {
      @apply max-sm:w-[100%];
    }
  }

  &TopicTitle {
    @apply max-w-[clamp(325px,23.725vw,401px)] w-full;

    div[class='card-number'] {
      @apply text-[clamp(18px,1.423vw,24px)];

      &::before {
        @apply max-w-[clamp(160px,9vw,200px)] w-full h-[13px];
      }
    }
  }
}
