.methodology {
  @apply h-fit;

  div[class*='container'] {
    @apply px-0;
  }

  div[class='section-head'] span {
    @apply text-[clamp(14px,0.949vw,16px)];
  }

  div[class='section-text-group'] {
    @apply items-center;
  }

  div[class='section-head'] {
    @apply mx-[3.559vw];
  }

  div[class='section-text-group'] {
    @apply pl-[3.559vw];
  }

  .mobileArrows {
    @apply sm:hidden mt-[20px];
  }

  .desktopArrows {
    @apply max-sm:hidden;
  }

  &Slider {
    @apply h-fit mt-[clamp(44px,6.287vw,106px)];

    :global {
      .swiper-slide {
        height: auto;
      }
    }

    &Arrows {
      @apply flex items-center gap-[0.593vw] mx-[3.559vw];
    }

    &Slide {
      @apply w-full relative p-[2.966vw];

      max-width: 67.616vw !important;

      &:first-child {
        margin-left: 3.559vw !important;
      }

      &:last-child {
        margin-right: 3.559vw !important;
      }

      &Bg {
        @apply absolute left-0 top-0 w-full h-full pointer-events-none z-[-1];

        svg {
          @apply w-full h-full;
        }
      }

      div[class='card-number'] {
        @apply ml-auto mr-[2.966vw] max-sm:mr-[1.186vw];

        &::before {
          @apply max-sm:hidden;
        }
      }

      &Content {
        @apply w-full h-full flex max-md:flex-col gap-[7.117vw] max-md:items-center items-stretch sm:justify-between;

        .slideImage {
          @apply max-h-[clamp(270px,25vw,460px)] h-full max-w-[clamp(270px,25vw,460px)] w-full relative;

          img {
            @apply w-full h-full object-contain object-center;
          }
        }

        .slideTextInfo {
          @apply max-w-[30vw] max-md:max-w-[100%] w-full flex flex-col gap-[3.25vh] justify-end items-start relative pb-[6.5vh];

          div[class='card-number'] {
            @apply absolute top-0 right-0;
          }
        }
      }
    }

    &Arrow {
      @apply w-[clamp(77px,5.338vw,89px)] h-[clamp(49px,6vh,56px)] relative cursor-pointer;

      &Bg {
        @apply w-full h-full absolute top-0 left-0 pointer-events-none z-[-1];
        scale: 1 1.15;
        transform-origin: top;
      }

      &Icon {
        @apply w-[clamp(14px,0.949vw,16px)] h-[clamp(22px,2.7vh,25px)] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
      }
    }
  }
}
